<span class="cert-name" style="font-weight:bold;">
  {{ cert.name }}
</span>
<br>
{% if cert.registration_year %}
  <span class="cert-year" style="color:#888;">
    <i class="fa fa-calendar"></i> 등록년도: {{ cert.registration_year }}
  </span>
  <br>
{% endif %}
{% if cert.application_year %}
  <span class="cert-year" style="color:#888;">
    <i class="fa fa-calendar"></i> 출원년도: {{ cert.application_year }}
  </span>
  <br>
{% endif %}
{% if cert.credentialid %}
  <span class="cert-id" style="color:#888;">
    <i class="fa fa-id-card"></i> 번호: {{ cert.credentialid }}
  </span>
  <br>
{% endif %}
{% if cert.inventors %}
  <span class="cert-inventors" style="color:#555;">
    <i class="fa fa-user"></i> 발명자: {{ cert.inventors }}
  </span>
  <br>
{% endif %}
{% if cert.organization %}
  <span class="cert-organization" style="color:#555;">
    <i class="fa fa-building"></i> 기관: {{ cert.organization }}
  </span>
  <br>
{% endif %}
{% if cert.url %}
  <a href="{{ cert.url }}" target="_blank" rel="noopener noreferrer" class="cert-link">
    <i class="fa fa-link"></i> 자세히 보기
  </a>
{% endif %}
