{% if site.data.data.projects.assignments %}
  <section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>{{ site.data.data.projects.title }}</h2>
    <div class="projects-list">
      {% for project in site.data.data.projects.assignments %}
        <div class="item">
          <span class="project-title"><strong>{{ project.title }}</strong></span>
          <br>
          <span class="project-organization" style="color:#555;">
            <i class="fa fa-university"></i> {{ project.organization }}
          </span>
          <span class="project-period" style="float:right; color:#888;">
            <i class="fa fa-calendar"></i> {{ project.period }}
          </span>
          <p class="project-tagline" style="margin-top:5px;">{{ project.tagline }}</p>
        </div>
        <hr style="margin:10px 0; border-top:1px dashed #eee;">
      {% endfor %}
    </div>
  </section>
{% endif %}